<h1><%= @video_game.name %> <a class="btn btn-warning" name="Edit" id="Edit" href="/video_games/<%= @video_game.id %>/edit"" role="button">Edit</a>
<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Details
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <p>Server Online?: <%= @video_game.is_live %></p>
    <p>Number of Players: <%= @video_game.max_players %></p>
  </div>
</div>
<%= link_to "Delete", "/video_games/#{@video_game.id}", method: :delete, data: {confirm: "Really delete #{@video_game.name}?"} %>
