  <p><a href="/game_companies/">List of Game Companies</a></p>
  <p><a href="/video_games/">List of Video Games</a></p>
  <p><a href="/video_games/<%= @game_company.id %>/video_games">TBD</a></p>
  <br>
  <h1><%= @game_company.title %></h1>
  <p>Profitable?: <%= @game_company.profitable %></p>
  <p>Number of Employees: <%= @game_company.employees %></p>
  <p>Games Under this Company: <%= @game_company_games.size %></p>
