<h1>These are the Plants</h1>
<h3>Listed below are all of the plants and their attributes:</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">In Season?</th>
      <th scope="col">Age</th>
      <th scope="col">Garden ID</th>
    </tr>
  </thead>
  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <th scope="row"><%= plant.id %></th>
        <td>
          <%= link_to plant.name, "/plants/#{plant.id}" %>
          <%= link_to "Edit", "/plants/#{plant.id}/edit" %>
          <%= link_to "Delete", "/plants/#{plant.id}", method: :delete, data: {confirm: "Really delete the plant?"} %>
        </td>
        <td><%= plant.in_season %></td>
        <td><%= plant.age %></td>
        <td><%= plant.garden_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @garden %>
<%= link_to "Add Plant", "/gardens/#{@garden.id}/plants/new" %>
<br>
<%= link_to "Sort By Alphabet", :sorted => true %>
<br>
<%= form_with url: "/gardens/#{@garden.id}/plants", method: "get", local: true do |f| %>
  <p>
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </p>
  <p>
    <%= f.submit "submit" %>
  </p>
<% end %>
<% end %>