<h1>These are the Plants</h1>
<h3>Listed below are all of the plants and their attributes:</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">In Season?</th>
      <th scope="col">Age</th>
      <th scope="col">Garden ID</th>
    </tr>
  </thead>
  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <th scope="row"><%= plant.id %></th>
        <td><a href="/plants/<%= plant.id %>"><%= plant.name %></a></td>
        <td><%= plant.in_season %></td>
        <td><%= plant.age %></td>
        <td><%= plant.garden_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @garden %>
<a href="/gardens/<%= @garden.id %>/plants/new">add plant</a>
<% end %>