<p>Go to <a href="/plants/">plants</a></p>
<br>
<p>name: <%= @plant.name %></p>
<p>in_season: <%= @plant.in_season %></p>
<p>age: <%= @plant.age %></p>
<p>id: <%= @plant.id %></p>
<p>garden_id: <%= @plant.garden_id %></p>