<p>name: <%= @plant.name %></p>
<p>in_season: <%= @plant.in_season %></p>
<p>age: <%= @plant.age %></p>
<p>id: <%= @plant.id %></p>
<p>garden_id: <%= @plant.garden_id %></p>

<%= link_to "Edit Plant", "/plants/#{@plant.id}/edit" %>
