<h1>These are the Gardens</h1>
<% @gardens.each do |garden| %>
  <h3><a href="/gardens/<%= garden.id %>"><%= garden.name %></a></h3>
  <p><%= garden.name %></p>
  <p><%= garden.watered %></p>
  <p><%= garden.max_plant_capacity %></p>
<% end %>