<% if @garden_plants.empty? %>
  <p>There are no plants!</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">In Season?</th>
        <th scope="col">Age</th>
        <th scope="col">Garden ID</th>
      </tr>
    </thead>
    <tbody>
      <% @garden_plants.each do |plant| %>
        <tr>
          <th scope="row"><%= plant.id %></th>
          <td><a href="/plants/<%= plant.id %>"><%= plant.name %></a></td>
          <td><%= plant.in_season %></td>
          <td><%= plant.age %></td>
          <td><%= plant.garden_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<a href="/gardens/<%= @garden.id %>/plants/new">add plant</a>
