<%= link_to  "The Children", "/gardens/#{@garden.id}/plants" %>
<br>
<p><%= @garden.name %></p>
<p><%= @garden.watered %></p>
<p><%= @garden.max_plant_capacity %></p>
<p>Number of plants: <%= @garden.plants.size %></p>
<br>
<%= link_to  "Edit", "/gardens/#{@garden.id}/edit" %>
<br>
<%= link_to "Delete", "/gardens/#{@garden.id}", method: :delete, data: {confirm: "Really delete the garden?"} %>

